textarea {resize: none}
h1 {font-weight: bold;
    color: white;
    background-color: #100f11;}

h2 {font-style: oblique;}

.td1 {
    background-color: #727272;
    font-weight: bolder;
    color: #411938;
}

.td2{
    background-color: #e7e7e7;
}

.bttn {
    background-color: #411938;
    color: white;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
    background: url("../img/wrong.gif") no-repeat;
    background-position: right;
    background-color:  white;
    
} 

input:required:valid, textarea:required:valid {
    background: url("../img/check.png") no-repeat;
    background-position: right;
    background-color:  white;
    
} 